@charset "UTF-8";

/*==================================================
 入力フィールド
================================================== */

select,
textarea,
input[type='tel'],
input[type='num'],
input[type='text'],
input[type='email'],
input[type='url'] {
	max-width: 100%;
	padding: 8px;
	font-size: 16px;
	border: 1px solid #dfdfdf;
	border-radius: 2px;
	box-shadow: 0 1px 1px rgba(150,150,150,.1) inset;
	box-sizing: border-box;
}

textarea {
	width: 100%;
}


/* ボタン
-------------------------------------------------- */

input[type='button'],
input[type='submit'] {
	margin: 0 4px;
	padding: 1em 2em;
	font-size: 16px;
	border: none;
	border-radius: 2px;
	-webkit-appearance: none;
	transition: opacity 0.4s ease;
}

input[type='button']:hover,
input[type='submit']:hover {
	opacity: .8;
	cursor: pointer;
}

input[type='button'][disabled],
input[type='submit'][disabled] {
	opacity: .7;
	pointer-events: none;
}


/* チェックボックス・ラジオボタン
-------------------------------------------------- */

input[type=radio],
input[type=checkbox] {
	display: inline-block;
	margin-right: 6px;
}

input[type=radio] + label,
input[type=checkbox] + label {
	position: relative;
	display: inline-block;
	margin-right: 12px;
	line-height: 30px;
	cursor: pointer;
}

input[type=radio],
input[type=checkbox] {
	display: none;
	margin: 0;
}

input[type=radio] + label,
input[type=checkbox] + label {
	margin-bottom: 5px;
	padding: 0 0 0 24px;
}

input[type=radio] + label::before,
input[type=checkbox] + label::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	width: 18px;
	height: 18px;
	margin-top: -9px;
	background: #FFF;
}

input[type=radio] + label::before {
	border: 2px solid #ccc;
	border-radius: 30px;
}

input[type=checkbox] + label::before {
	border: 2px solid #ccc;
}

input[type=radio]:checked + label::after,
input[type=checkbox]:checked + label::after {
	content: "";
	position: absolute;
	top: 50%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
}

input[type=radio]:checked + label::after {
	left: 5px;
	width: 8px;
	height: 8px;
	margin-top: -4px;
	background: #e74c3c;
	border-radius: 8px;
}

input[type=checkbox]:checked + label::after {
	left: 3px;
	width: 16px;
	height: 8px;
	margin-top: -8px;
	border-left: 3px solid #e74c3c;
	border-bottom: 3px solid #e74c3c;
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


/*==================================================
 テーブル
================================================== */

.contact-form-table {
	margin: 0 0 16px;
}

/* スマホ表示時にはテーブルを縦向きにする */
@media screen and (max-width: 768px) {
	.contact-form-table,
	.contact-form-table tbody,
	.contact-form-table tr,
	.contact-form-table th,
	.contact-form-table td {
		width: auto;
		display: block;
	}
}

/* ご住所だけ2段なのでマージンを開ける */
input[name="items[address]"] {
	margin-top: 8px;
}

/* 「不正な送信です」「時間を空けて再度送信ください」などのセキュリティエラー文 */
.sec-error-text {
	line-height: 80px;
	text-align: center;
	color: #fff;
	font-size: 20px;
	background: #e74c3c;
}

/* 「任意」「必須」マーク */
.optional-mark,
.required-mark {
	padding: 2px 4px;
	color: #fff;
	font-size: 13px;
	border-radius: 4px;
	float: right;
}

.optional-mark {
	background: #3498db;
}

.required-mark {
	background: #e74c3c;
}

/* 「~が入力されていません」などの未記入エラー文 */
.error-text {
	margin: 0 0 4px;
	color: #e74c3c;
}

/* 送信・確認ボタン */
.contact-submits-wrap {
	text-align: center;
}

/* プライバシーポリシー */
.inline-privacy-policy {
	height: 350px;
	margin: 16px 0;
	border: 1px solid #dfdfdf;
	background: #fff;
}

.inline-privacy-policy-inner {
	width: 100%;
	height: 100%;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
	display: inline-block;
}

.inline-privacy-policy iframe {
	width: 100%;
	height: 100%;
	display: block;
}

/* リキャプチャ */
.contact-recaptcha-wrap {
	margin: 16px auto;
	display: table;
}


/*==================================================
 日付選択フォーム
================================================== */
.date-list{
	padding-left: inherit;
}
.date-list li{
	list-style: none;
	margin-bottom: 15px;
}
.date-list li p{
	margin-bottom: 5px;
}

/*==================================================
 画像アップロードフォーム
================================================== */

.upload-item-wrap {
	font-size: 13px;
	overflow: hidden;
}

.upload-item-wrap input[type="file"] {
	display: none;
}

/* アップされた画像のサムネイル */
.upload-item-wrap .thumb {
	width: 220px;
	height: 220px;
	margin: 0 8px 0 0;
	position: relative;
	overflow: hidden;
	float: left;
}

.upload-item-wrap .thumb img {
	max-width: none;
	height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

/*選択・削除ボタン  */
.upload-item-wrap .ancion-btn-wrap {
	float: left;
}

.upload-item-wrap .ancion-btn {
	margin: 0 0 8px;
	width: 110px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	border-radius: 4px;
	background: #e6e6e6;
	display: block;
}

.upload-item-wrap .select-file {
	background: #2ecc71;
}

.upload-item-wrap .deselect-file {
	background: #e74c3c;
}

.upload-item-wrap .ancion-btn:hover {
	cursor: pointer;
}

/*添付ファイルの注意文  */
.upload-notice{
	margin-top: 10px;
	font-size: 0.8em;
}