@charset "UTF-8";
/*標準ボタン
---------------------------------------------------------------*/
/*鍵フックボタン
---------------------------------------------------------------*/
/*カーテンボタン
---------------------------------------------------------------*/
/*ラインダッシュボタン
---------------------------------------------------------------*/
/*IE対応のグラデーション
========================================================================*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap");
/*変数指定
=======================================================*/
/*メインカラー
--------------------------------------------*/
/*フォント
--------------------------------------------*/
body {
  font-size: 4vw;
}

img {
  max-width: 100%;
  height: auto;
}

/*flex
------------------------------------ */
.flex {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  -js-display: flex;
  display: flex;
  width: 100%;
}

.flx-center {
  justify-content: center;
}

.flx-alitem-c {
  align-items: center;
}

/*---------------------------------------------
 Drawer Default
---------------------------------------------*/
.drawer-logo {
  width: 25%;
  margin: 0 auto 10vw;
}

.drawer-nav {
  padding: 15% 10% 10% !important;
  background: #fff;
}
.drawer-nav .drawer-menu > li {
  border-bottom: 1px solid #ccc;
}
.drawer-nav .drawer-menu > li > .drawer-menu-item {
  font-size: 4.5vw;
  letter-spacing: 0.5rem;
  padding: 5% 5% 5% 6vw;
  font-weight: 500;
  color: #333;
}
.drawer-nav .drawer-menu .current {
  position: relative;
}
.drawer-nav .drawer-menu .current a {
  font-size: 5vw;
  font-weight: 700;
}
.drawer-nav .drawer-menu .current a:before {
  transition: 0.1s all ease-in;
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 2vw solid transparent;
  border-left: 2.5vw solid #333;
  box-sizing: border-box;
  margin-top: -2vw;
}

/*Drawer Btn Setting
=======================================*/
/*Right Position
-----------------------------------*/
/*close*/
.drawer--right .drawer-toggle.drawer-hamburger {
  background: #000 !important;
  right: 2.5% !important;
  top: 1%;
}

/*open*/
.drawer--right.drawer-open .drawer-hamburger {
  top: 1%;
  right: 2.5% !important;
}

/*Drawer Btn
-----------------------------------*/
.drawer-hamburger-icon,
.drawer-hamburger-icon:after,
.drawer-hamburger-icon:before {
  background-color: #fff !important;
}

/*drawer box*/
.drawer-hamburger {
  width: 55px;
  height: 55px;
}

/*drawer line*/
.drawer-hamburger-icon:before {
  top: -8px;
}
.drawer-hamburger-icon:after {
  top: 8px;
}

/*drawer box txt*/
.drawer-hamburger-txt {
  color: #fff;
  font-size: 9px;
  bottom: -15px;
}

/*DropDown Menu
---------------------------------------------*/
.drawer-dropdown-menu > li,
.drawer-dropdown-menu .drawer-dropdown-menu-item {
  line-height: 1.2;
  border-bottom: 1px solid #fff;
}

.level1,
.level2 {
  position: relative;
}
.level1 a, .level1 p,
.level2 a,
.level2 p {
  font-size: 4vw;
}

.level1 {
  background: #fff;
}

.level2 {
  background: #fff;
}

.drawer-current {
  right: 5px !important;
  top: 50%;
  border-bottom: 1px solid #000 !important;
  border-right: 1px solid #000 !important;
}

/*Original Custum Code
=======================================*/
/*SNS
-----------------------------------*/
.sns-list {
  margin: 10% auto 5%;
}
.sns-list li {
  margin-right: 5%;
}
.sns-list li:last-child {
  margin-right: 0;
}

/*Address
-----------------------------------*/
.drawer-address {
  margin: 5% auto;
  text-align: center;
  font-size: 3.5vw;
}
.drawer-address li {
  margin-bottom: 3%;
}
.drawer-address li:last-child {
  margin-bottom: 0;
}

/*Contact btn
-----------------------------------*/
.drawer-mail-btn {
  text-align: center;
  width: 60%;
  display: block;
  background: #000;
  margin: 10% auto;
  padding: 4% 0;
  font-weight: 700;
  letter-spacing: 0.2rem;
}
.drawer-mail-btn span {
  font-size: 4vw;
  color: #fff;
  position: relative;
}/*# sourceMappingURL=drawer.css.map */