@charset "UTF-8";
/*標準ボタン
---------------------------------------------------------------*/
/*鍵フックボタン
---------------------------------------------------------------*/
/*カーテンボタン
---------------------------------------------------------------*/
/*ラインダッシュボタン
---------------------------------------------------------------*/
/*IE対応のグラデーション
========================================================================*/
/* ブラウザのスクロールバーを常に表示させることでカクカクッとなるのを防ぐ */
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP:400,600");
/*変数指定
=======================================================*/
/*メインカラー
--------------------------------------------*/
/*ローディング
=======================================================*/
/* ローディングの背景部分のCSS */
.loader {
  background: #333;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
}

/* ローディングのアニメーション部分のCSS (https://projects.lukehaas.me/css-loaders/) */
.loader-animation,
.loader-animation:before,
.loader-animation:after {
  background: #ea9309;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader-animation {
  height: 10px;
  left: 50%;
  margin: -5px 0 0 -5px;
  position: absolute;
  top: 50%;
  width: 10px;
  color: #ea9309;
  text-indent: -9999em;
  font-size: 10px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader-animation:before, .loader-animation:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader-animation:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader-animation:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/*フォント
--------------------------------------------*/
/*body以下
=======================================================*/
body {
  margin: auto;
  padding: 0;
  width: 100%;
  font-family: "Noto Sans JP", sans-serif, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  min-width: 1180px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.1rem;
  color: #333;
}

.inbox {
  width: 1080px;
  margin: 0 auto;
}

.pc-none {
  display: none !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-c {
  text-align: center;
}

a[href^="tel:"] {
  pointer-events: none;
}

img {
  max-width: 100%;
  vertical-align: moddle;
}

/*更新画像
=================================================*/
/*更新イメージの調整
----------------------------------------------- */
.com-img {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.com-img img {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  width: 100%;
  object-fit: cover;
  font-family: "object-fit: cover; object-position: bottom";
  object-position: center;
  min-height: 100%;
  min-width: 100%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

/*共通テキスト
----------------------------------------------- */
.common-text p {
  margin-bottom: 25px;
}

.common-text p:last-child {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  .common-text p br {
    display: none;
  }
}

/*display flexキッド 
=================================================*/
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -ms-flexbox;
  -js-display: flex;
  display: flex;
  width: 100%;
}

/*折り返し
-----------------------*/
.flx-wrp {
  flex-wrap: wrap;
}

/*逆順
-----------------------*/
.flx-rr {
  flex-direction: row-reverse;
}

/*水平方向の揃え
=================================================*/
/*並列で均等配置（左右隙間なし=space-between）
-----------------------*/
.flx-btw {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

/*並列で均等配置（左右隙間あり=space-around）
-----------------------*/
.flx-ard {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

/*水平揃え　末揃え
-----------------------*/
.flx-end {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

/*水平揃え　中央揃え
-----------------------*/
.flx-center {
  -webkit-justify-content: center;
  justify-content: center;
}

/*垂直方向の揃え
=================================================*/
/*水平揃え　高さ揃え
-----------------------*/
.flx-alitem-strt {
  -webkit-align-items: stretch;
  align-items: stretch;
}

/*水平揃え　縦・横の中央揃え
-----------------------*/
.flx-alitem-c {
  -webkit-align-items: center;
  align-items: center;
}

/*水平揃え　上揃え
-----------------------*/
.flx-alitem-strt {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

/*水平揃え　下揃え
-----------------------*/
.flx-alitem-end {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

/*水平揃え　ベースライン揃え
-----------------------*/
.flx-alitem-base {
  -webkit-align-items: baseline;
  align-items: baseline;
}

/*複数行にした揃え方
=================================================*/
/*初期値
-----------------------*/
.flx-alcont-strt {
  -webkit-align-content: stretch;
  align-content: stretch;
}

/*親要素の開始位置から配置。上揃え
-----------------------*/
.flx-alcont-start {
  -webkit-align-content: flex-start;
  align-content: flex-start;
}

/*親要素の終点から配置。下揃え
-----------------------*/
.flx-alcont-end {
  -webkit-align-content: flex-end;
  align-content: flex-end;
}

/*中央揃え
-----------------------*/
.flx-alcont-c {
  -webkit-align-content: center;
  align-content: center;
}

/*最初と最後の子要素を上下の端に配置し、残りの要素は均等に間隔をあけて配置
-----------------------*/
.flx-alcont-s-btw {
  -webkit-align-content: space-between;
  align-content: space-between;
}

/*上下端にある子要素も含め、均等に間隔をあけて配置
-----------------------*/
.flx-alcont-s-ard {
  -webkit-align-content: space-around;
  align-content: space-around;
}

/*=========================================================
	header
=========================================================*/
#header h1 span {
  display: block;
}

#header .hd-l {
  width: 200px;
}

#header .hd-r {
  width: 900px;
}

/*Mainvisual
=========================================================*/
#mv {
  height: 600px;
  position: relative;
}

#mv .catch {
  text-align: center;
}

#mv .catch img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  margin: auto;
}

#mv li {
  height: 600px;
}

#mv li:nth-child(1) {
  background: url(../img/mv/slider01-bg.jpg) no-repeat center/cover;
}

#mv li:nth-child(2) {
  background: url(../img/mv/slider02-bg.jpg) no-repeat center/cover;
}

#mv li:nth-child(3) {
  background: url(../img/mv/slider03-bg.jpg) no-repeat center/cover;
}

#mv .catch img {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
}

/*=========================================================
	トップページ
=========================================================*/
/*共通タイトル
=========================================================*/
/*共通ボタン
=========================================================*/
.more-btn01 {
  position: relative;
  text-align: center;
  display: block;
  letter-spacing: 1.2px;
  transition: all 0.3s;
  margin: 0 auto;
  font-size: 14px;
  border: solid #000 1px;
  background: #000;
  color: #fff;
  font-weight: bold;
  padding: 10px 0;
  overflow: hidden;
}

.more-btn01:before, .more-btn01:after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.more-btn01 span {
  position: relative;
  transition: all 0.3s;
  transform: scale(1, 1);
  z-index: 10;
}

.more-btn01 span {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .more-btn01 {
    font-size: 3.5vw;
  }
}

.more-btn01:hover {
  background: #fff;
  border: solid #000 1px;
}

.more-btn01:hover span {
  color: #000;
}

.more-btn02 {
  position: relative;
  text-align: center;
  display: block;
  letter-spacing: 1.2px;
  transition: all 0.3s;
  margin: 0 auto;
  font-size: 14px;
  border: solid #000 1px;
  background: #000;
  color: #fff;
  font-weight: bold;
  padding: 10px 0;
  overflow: hidden;
}

.more-btn02:before, .more-btn02:after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.more-btn02 span {
  position: relative;
  transition: all 0.3s;
  transform: scale(1, 1);
  z-index: 10;
}

.more-btn02 span {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .more-btn02 {
    font-size: 3.5vw;
  }
}

.more-btn02:before {
  opacity: 0;
  background: rgba(255, 255, 255, 0.4);
  transform: scale(1, 0.1);
}

.more-btn02:after {
  transition: all 0.3s;
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.more-btn02:hover:before {
  opacity: 1;
  transform: scale(1, 1);
}

.more-btn02:hover:after {
  opacity: 0;
  transform: scale(1, 0.1);
}

.more-btn03 {
  position: relative;
  text-align: center;
  display: block;
  letter-spacing: 1.2px;
  transition: all 0.3s;
  margin: 0 auto;
  font-size: 14px;
  border: solid #000 1px;
  background: #000;
  color: #fff;
  font-weight: bold;
  padding: 10px 0;
  overflow: hidden;
}

.more-btn03:before, .more-btn03:after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.more-btn03 span {
  position: relative;
  transition: all 0.3s;
  transform: scale(1, 1);
  z-index: 10;
}

.more-btn03 span {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .more-btn03 {
    font-size: 3.5vw;
  }
}

.more-btn03:before {
  opacity: 0;
  background: rgba(255, 255, 255, 0.5);
  transform: scale(0.1, 0.1);
}

.more-btn03:hover:before {
  opacity: 1;
  transform: scale(1, 1);
}

.more-btn03:hover:after {
  transform: scale(0, 0);
  opacity: 0;
}

.more-btn04 {
  position: relative;
  text-align: center;
  display: block;
  letter-spacing: 1.2px;
  transition: all 0.3s;
  margin: 0 auto;
  font-size: 14px;
  border: solid #000 1px;
  background: #000;
  color: #fff;
  font-weight: bold;
  padding: 10px 0;
  overflow: hidden;
}

.more-btn04:before, .more-btn04:after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.more-btn04 span {
  position: relative;
  transition: all 0.3s;
  transform: scale(1, 1);
  z-index: 10;
}

.more-btn04 span {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .more-btn04 {
    font-size: 3.5vw;
  }
}

.more-btn05 {
  position: relative;
  text-align: center;
  display: block;
  letter-spacing: 1.2px;
  transition: all 0.3s;
  margin: 0 auto;
  font-size: 14px;
  border: solid #000 1px;
  background: #000;
  color: #fff;
  font-weight: bold;
  padding: 10px 0;
  overflow: hidden;
}

.more-btn05:before, .more-btn05:after {
  content: "";
  position: absolute;
  transition: all 0.3s;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.more-btn05 span {
  position: relative;
  transition: all 0.3s;
  transform: scale(1, 1);
  z-index: 10;
}

.more-btn05 span {
  color: #fff;
}

@media screen and (max-width: 768px) {
  .more-btn05 {
    font-size: 3.5vw;
  }
}

.mail-btn {
  display: block;
  background: transparent;
  border: solid 1px #fff;
  text-align: center;
  width: 180px;
  padding: 10px 0;
  transition: 0.3s all ease;
}

.mail-btn span {
  position: relative;
  padding-left: 35px;
  color: #fff;
}

.mail-btn span:before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 0;
  width: 20px;
  height: 14px;
  background: url("../img/common/mail-icon.png") no-repeat center/contain;
  margin-top: -7px;
}

.mail-btn:hover {
  background: #ea9309;
}

.mail-btn:hover span {
  color: #fff;
}

.more-btn-line-start {
  width: 100%;
  color: #11a983;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #11a983;
  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-family: comfortaa;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.more-btn-line-start:before, .more-btn-line-start:after {
  content: "";
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-color: #11a983;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out;
}

.more-btn-line-start:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}

.more-btn-line-start:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}

.more-btn-line-start:hover {
  color: #fff;
  background-color: #11a983;
  border-color: #11a983;
}

.more-btn-line-start:hover:before, .more-btn-line-start:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #11a983;
}

.more-btn-line-turn {
  width: 100%;
  color: #11a983;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #11a983;
  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-family: comfortaa;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.more-btn-line-turn:before, .more-btn-line-turn:after {
  content: "";
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-color: #11a983;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out;
}

.more-btn-line-turn:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}

.more-btn-line-turn:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}

.more-btn-line-turn:hover {
  color: #fff;
  background-color: #11a983;
  border-color: #11a983;
}

.more-btn-line-turn:hover:before, .more-btn-line-turn:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #11a983;
  transform: rotateY(180deg);
}

.more-btn-line-turn {
  width: 100%;
  color: #11a983;
  background: transparent;
  border-width: 2px;
  border-style: solid;
  border-color: #11a983;
  position: relative;
  display: inline-block;
  padding: 0.5em 1em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-family: comfortaa;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.more-btn-line-turn:before, .more-btn-line-turn:after {
  content: "";
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-color: #11a983;
  border-style: solid;
  width: 1em;
  height: 1em;
  transition: all 0.3s ease-in-out;
}

.more-btn-line-turn:before {
  top: -6px;
  left: -6px;
  border-width: 2px 0 0 2px;
  z-index: 5;
}

.more-btn-line-turn:after {
  bottom: -6px;
  right: -6px;
  border-width: 0 2px 2px 0;
}

.more-btn-line-turn:hover {
  color: #fff;
  background-color: #11a983;
  border-color: #11a983;
}

.more-btn-line-turn:hover:before, .more-btn-line-turn:hover:after {
  width: calc(100% + 12px);
  height: calc(100% + 12px);
  border-color: #11a983;
  transform: rotateY(180deg);
}

.curtn-btn-top {
  padding: 15px 0;
  font-weight: bold;
  display: block;
  position: relative;
  text-align: center;
  z-index: 10;
  background: #ea9309;
  overflow: hidden;
}

.curtn-btn-top:before {
  content: "";
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #51370d;
  transition: all 0.3s ease-in-out;
}

.curtn-btn-top span {
  position: relative;
  z-index: 100;
}

.curtn-btn-top:before {
  left: 0;
  top: -100%;
}

.curtn-btn-top:hover:before {
  top: 0;
}

.curtn-btn-right {
  padding: 15px 0;
  font-weight: bold;
  display: block;
  position: relative;
  text-align: center;
  z-index: 10;
  background: #ea9309;
  overflow: hidden;
}

.curtn-btn-right:before {
  content: "";
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #51370d;
  transition: all 0.3s ease-in-out;
}

.curtn-btn-right span {
  position: relative;
  z-index: 100;
}

.curtn-btn-right:before {
  right: -100%;
  top: 0;
}

.curtn-btn-right:hover:before {
  right: 0;
}

.curtn-btn-bottom {
  padding: 15px 0;
  font-weight: bold;
  display: block;
  position: relative;
  text-align: center;
  z-index: 10;
  background: #ea9309;
  overflow: hidden;
}

.curtn-btn-bottom:before {
  content: "";
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #51370d;
  transition: all 0.3s ease-in-out;
}

.curtn-btn-bottom span {
  position: relative;
  z-index: 100;
}

.curtn-btn-bottom:before {
  left: 0;
  bottom: -100%;
}

.curtn-btn-bottom:hover:before {
  bottom: 0;
}

.curtn-btn-left {
  padding: 15px 0;
  font-weight: bold;
  display: block;
  position: relative;
  text-align: center;
  z-index: 10;
  background: #ea9309;
  overflow: hidden;
}

.curtn-btn-left:before {
  content: "";
  position: absolute;
  display: block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: #51370d;
  transition: all 0.3s ease-in-out;
}

.curtn-btn-left span {
  position: relative;
  z-index: 100;
}

.curtn-btn-left:before {
  left: -100%;
  top: 0;
}

.curtn-btn-left:hover:before {
  left: 0;
}

.line-dash-btn-01 {
  text-align: center;
  display: block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.9);
}

.line-dash-btn-01:before, .line-dash-btn-01:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #ea9309;
}

.line-dash-btn-01:before {
  right: 0;
  top: 0;
}

.line-dash-btn-01:after {
  left: 0;
  bottom: 0;
}

.line-dash-btn-01 span {
  color: #fff;
  display: block;
  padding: 15px 0;
}

.line-dash-btn-01 span:before, .line-dash-btn-01 span:after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: #ea9309;
}

.line-dash-btn-01 span:before {
  right: 0;
  bottom: 0;
}

.line-dash-btn-01 span:after {
  left: 0;
  top: 0;
}

.line-dash-btn-01:hover:before, .line-dash-btn-01:hover:after {
  transition-delay: 0s;
  width: 100%;
}

.line-dash-btn-01:hover span:before, .line-dash-btn-01:hover span:after {
  transition-delay: 0.2s;
  height: 100%;
}

.line-dash-btn-02 {
  text-align: center;
  display: block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.9);
}

.line-dash-btn-02:before, .line-dash-btn-02:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #ea9309;
}

.line-dash-btn-02:before {
  right: 0;
  top: 0;
}

.line-dash-btn-02:after {
  left: 0;
  bottom: 0;
}

.line-dash-btn-02 span {
  color: #fff;
  display: block;
  padding: 15px 0;
}

.line-dash-btn-02 span:before, .line-dash-btn-02 span:after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: #ea9309;
}

.line-dash-btn-02 span:before {
  right: 0;
  bottom: 0;
}

.line-dash-btn-02 span:after {
  left: 0;
  top: 0;
}

.line-dash-btn-02:hover:before, .line-dash-btn-02:hover:after {
  transition-delay: 0s;
  width: 100%;
}

.line-dash-btn-02:hover span:before, .line-dash-btn-02:hover span:after {
  transition-delay: 0s;
  height: 100%;
}

.line-dash-btn-03 {
  text-align: center;
  display: block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.9);
}

.line-dash-btn-03:before, .line-dash-btn-03:after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #ea9309;
}

.line-dash-btn-03:before {
  right: 0;
  top: 0;
}

.line-dash-btn-03:after {
  left: 0;
  bottom: 0;
}

.line-dash-btn-03 span {
  color: #fff;
  display: block;
  padding: 15px 0;
}

.line-dash-btn-03 span:before, .line-dash-btn-03 span:after {
  content: "";
  width: 2px;
  height: 0;
  position: absolute;
  transition: all 0.2s linear;
  background: #ea9309;
}

.line-dash-btn-03 span:before {
  right: 0;
  top: 0;
}

.line-dash-btn-03 span:after {
  left: 0;
  bottom: 0;
}

.line-dash-btn-03:hover:before, .line-dash-btn-03:hover:after {
  transition-delay: 0s;
  width: 100%;
}

.line-dash-btn-03:hover span:before, .line-dash-btn-03:hover span:after {
  transition-delay: 0s;
  height: 100%;
}

/*top-
=========================================================*/
/*top-
=========================================================*/
/*top-
=========================================================*/
/*top-
=========================================================*/
/*top-
=========================================================*/
/*top-
=========================================================*/
/*=========================================================
	footer
=========================================================*/
#footer #copyright {
  text-align: center;
  padding: 15px 0;
}

#footer #copyright small {
  color: #333;
  font-size: 12px;
}

#footer #copyright small a {
  color: #333;
}

/*=========================================================
	下層ページ
=========================================================*/
/*下層サブビジュアル
=========================================================*/
#ma {
  height: 350px;
  background: url(../img/common/ma-bg.jpg) no-repeat center/cover;
}

#ma .ma-inbox,
#ma .inbox {
  height: 100%;
}

.ma-ttl {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 0.2rem;
  text-shadow: transparent 1px 1px 5px, transparent -1px 1px 5px, transparent 1px -1px 5px, transparent -1px -1px 5px, transparent 1px 1px 8px, transparent -1px 1px 8px, transparent 1px -1px 8px, transparent -1px -1px 8px;
  text-align: center;
}

/*下層共通タイトル
=========================================================*/
/*下層共通パーツ
=========================================================*/
/*パンくず
=========================================================*/
#bread-clumb {
  width: 100%;
  position: absolute;
  margin: 0 auto;
  padding: 10px 0 50px;
}

#bread-clumb li {
  position: relative;
  color: #333;
  font-size: 14px;
  float: left;
  margin-right: 20px;
}

#bread-clumb li:after {
  content: ">";
  position: absolute;
  display: block;
  right: -15px;
  top: 0;
}

#bread-clumb li:last-child {
  margin-right: 0;
}

#bread-clumb li:last-child:after {
  display: none;
}

#bread-clumb li a {
  color: #333;
}

/*共通テーブル
=========================================================*/
.com-dl .in-dl,
.com-dl dd,
.com-dl dt {
  box-sizing: border-box;
}

.com-dl > .in-dl > dt,
.com-dl > .in-dl > dd {
  display: table-cell;
  vertical-align: middle;
  padding: 10px 20px;
  font-size: 15px;
}

.com-dl > .in-dl > dt {
  width: 300px;
}

.com-dl > .in-dl > dd {
  width: 780px;
}

.com-dl > .in-dl > dd a {
  color: #333;
}

/*下層ページ
=========================================================*/
/*下層ページ
=========================================================*/
/*下層ページ
=========================================================*/
/*下層ページ
=========================================================*/
/*下層ページ
=========================================================*/
/*お知らせ一覧
=========================================================*/
@media screen and (min-width: 768px) {
  .post-wrp .tag-change {
    margin-bottom: 50px;
  }
  .post-wrp .tag-change li {
    text-align: center;
    width: 19%;
    margin: 2% 1% 0 0;
  }
  .post-wrp .tag-change li:nth-child(5n) {
    margin-right: 0;
  }
  .post-wrp .tag-change li:nth-child(-n + 5) {
    margin-top: 0;
  }
  .post-wrp .tag-change li a {
    border: solid 1px #ea9309;
    padding: 10px 0;
    display: block;
    color: #ea9309;
    background: #fff;
  }
  .post-wrp .tag-change .current a {
    background: #ea9309;
  }
  .post-wrp .tag-change .current a span {
    color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .post-wrp .tag-change {
    text-align: center;
    flex-wrap: nowrap;
    overflow-x: scroll;
    margin-bottom: 30px;
    -webkit-justify-content: start;
    justify-content: start;
  }
  .post-wrp .tag-change li {
    flex: 0 0 30%;
    margin: 2% 1% 0 0;
  }
  .post-wrp .tag-change li a {
    border: solid 1px #ea9309;
    padding: 5px 0;
    display: block;
    color: #ea9309;
    background: #fff;
    font-size: 3vw;
  }
  .post-wrp .tag-change .current a {
    background: #ea9309;
  }
  .post-wrp .tag-change .current a span {
    color: #fff;
  }
}

.post-wrp .all-post-list article {
  margin-bottom: 25px;
  border-bottom: 1px solid #ea9309;
}

.post-wrp .all-post-list article a {
  padding: 0 0 25px;
  display: block;
  color: #333;
  box-sizing: border-box;
}

.post-wrp .all-post-list article a .tag-time {
  margin-bottom: 15px;
}

.post-wrp .all-post-list article a .tag-name,
.post-wrp .all-post-list article a time {
  width: 125px;
  line-height: 1;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding: 10px 20px;
  box-sizing: border-box;
  margin-right: 1%;
  font-size: 12px;
}

.post-wrp .all-post-list article a .tag-name {
  border: solid 1px #ea9309;
}

.post-wrp .all-post-list article a .tag-name span {
  color: #ea9309;
}

.post-wrp .all-post-list article a time {
  display: block;
  background: #ea9309;
}

.post-wrp .all-post-list article a time span {
  padding-left: 10px;
  color: #fff;
  position: relative;
}

.post-wrp .all-post-list article a time span:before {
  content: "";
  position: absolute;
  display: block;
  top: 50%;
  right: auto;
  bottom: auto;
  left: 0;
  width: 0;
  height: 0;
  border: transparent solid 5px;
  border-left: #fff solid 5px;
  margin-top: -5px;
}

.post-wrp .all-post-list article a .com-img {
  width: 180px;
  height: 130px;
}

.post-wrp .all-post-list article a .post-thumb-text {
  width: 875px;
}

.post-wrp .all-post-list article a h4 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

@media screen and (max-width: 767px) {
  .post-wrp .all-post-list article {
    /*　画面サイズが767pxまではここを読み込む　*/
  }
  .post-wrp .all-post-list article .tag-name,
  .post-wrp .all-post-list article time {
    padding: 5px 10px !important;
    font-size: 3vw !important;
  }
  .post-wrp .all-post-list article .com-img {
    width: 23% !important;
    height: 10vh !important;
  }
  .post-wrp .all-post-list article .post-thumb-text {
    width: 70% !important;
  }
  .post-wrp .all-post-list article h4 {
    font-size: 5vw !important;
    font-weight: bold !important;
    margin-bottom: 10px !important;
  }
}

/*お知らせ個別
=========================================================*/
#contents-u.post .sb-post-body h1,
#contents-u.post .sb-post-body h2,
#contents-u.post .sb-post-body h3,
#contents-u.post .sb-post-body h4,
#contents-u.post .sb-post-body h5,
#contents-u.post .sb-post-body h6 {
  box-sizing: border-box;
  line-height: 1.5;
  font-weight: 700;
}

#contents-u.post .sb-post-body h1 {
  padding: 0 5px;
  font-size: 28px;
  border-bottom: 1px solid #ea9309;
  padding-bottom: 8px;
  margin-bottom: 15px;
}

#contents-u.post .sb-post-body h2 {
  padding-left: 10px;
  font-size: 26px;
  border-left: 5px solid #ea9309;
  margin-bottom: 15px;
}

#contents-u.post .sb-post-body h3 {
  background: #ea9309;
  font-size: 24px;
  padding: 5px 10px;
  color: #fff;
  margin-bottom: 15px;
}

#contents-u.post .sb-post-body h4 {
  padding-bottom: 8px;
  margin-bottom: 15px;
  font-size: 20px;
  position: relative;
}

#contents-u.post .sb-post-body h4:before {
  content: "";
  position: absolute;
  display: block;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 2px;
  background: #ea9309;
}

#contents-u.post .sb-post-body h5 {
  background: #f2f2f2;
  font-size: 18px;
  padding: 5px 10px;
  margin-bottom: 10px;
}

#contents-u.post .sb-post-body h6 {
  font-size: 16px;
  color: #ea9309;
}

@media screen and (max-width: 767px) {
  #contents-u.post .sb-post-body h1 {
    padding: 0 5px;
    font-size: 6vw;
    border-bottom: 1px solid #ea9309;
    padding-bottom: 8px;
    margin-bottom: 15px;
  }
  #contents-u.post .sb-post-body h2 {
    padding-left: 10px;
    font-size: 5.5vw;
    border-left: 5px solid #ea9309;
    margin-bottom: 15px;
  }
  #contents-u.post .sb-post-body h3 {
    background: #ea9309;
    font-size: 5vw;
    padding: 5px 10px;
    color: #fff;
    margin-bottom: 15px;
  }
  #contents-u.post .sb-post-body h4 {
    padding-bottom: 8px;
    margin-bottom: 15px;
    font-size: 4.8vw;
    position: relative;
  }
  #contents-u.post .sb-post-body h4:before {
    content: "";
    position: absolute;
    display: block;
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 60px;
    height: 2px;
    background: #ea9309;
  }
  #contents-u.post .sb-post-body h5 {
    background: #f2f2f2;
    font-size: 4.5vw;
    padding: 5px 10px;
    margin-bottom: 10px;
  }
  #contents-u.post .sb-post-body h6 {
    font-size: 4.2vw;
    color: #ea9309;
  }
}

#contents-u.post .s-time-tag {
  text-align: right;
  margin-top: 100px;
  padding-top: 10px;
  border-top: 1px solid #ea9309;
}

#contents-u.post .s-time-tag time {
  width: 130px;
  color: #ea9309;
  font-weight: bold;
}

#contents-u.post .s-time-tag .tag-name {
  min-width: 130px;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding: 5px 20px;
  box-sizing: border-box;
  border: solid 1px #ea9309;
  margin-right: 1%;
  line-height: 1;
  color: #ea9309;
}

#contents-u.post .s-time-tag .tag-name span {
  color: #ea9309;
}

/*お問い合わせ
=========================================================*/
.cont-dl {
  margin-bottom: 40px;
}

.cont-dl .in-dl dt {
  width: 320px;
  position: relative;
  vertical-align: top;
}

.cont-dl .in-dl dt .hissu {
  line-height: 1;
  padding: 2px 8px;
  position: absolute;
  right: 0;
  background: #51370d;
  font-size: 13px;
}

.cont-dl .in-dl dd {
  width: 760px;
}

.cont-dl .in-dl dd input[type="text"],
.cont-dl .in-dl dd input[type="num"] {
  width: 100%;
  padding: 5px;
  border: solid #ccc 1px;
  background: #fff;
  box-sizing: border-box;
}

.cont-dl .in-dl dd textarea {
  border: solid #ccc 1px;
  width: 100%;
  height: 200px;
  background: #fff;
}

.cont-dl .in-dl dd #pc01,
.cont-dl .in-dl dd #pc02 {
  margin-bottom: 10px;
}

.cont-dl .in-dl dd #pc01 {
  width: 60px !important;
}

.cont-dl .in-dl dd #pc02 {
  width: 80px !important;
}

.cont-dl .in-dl .error-text {
  color: #f44336;
}

.contact-btn ul {
  text-align: center;
}

.contact-btn ul li {
  display: inline-block;
  position: relative;
  margin-right: 40px;
  border: solid 1px #ea9309;
}

.contact-btn ul li #form-btn {
  width: 340px;
  color: #fff;
  font-size: 18px;
  letter-spacing: 3px;
  border: none;
  cursor: pointer;
  padding: 25px 0;
  background-color: #ea9309;
  transition: 0.3s;
  font-weight: bold;
}

.contact-btn ul li:last-child {
  margin-right: 0;
}

.contact-btn ul li:hover #form-btn {
  color: #ea9309;
  background: #fff;
}

/*pagenation---------------*/
ul.pagenation {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 30px;
}

ul.pagenation li {
  display: inline-block;
  margin: 0 5px;
}

ul.pagenation li a {
  font-size: 17px;
  color: #38322d;
}

ul.pagenation li.current {
  font-size: 20px;
  color: #fff;
  background-color: #ea9309;
  padding: 5px 8px;
}

/*page-btn
--------------------------------------------*/
.page-btn {
  position: relative;
  margin-top: 30px;
}

.page-btn a {
  position: relative;
  font-weight: bold;
}

.page-btn .right,
.page-btn .left {
  position: absolute;
}

.page-btn .right a,
.page-btn .left a {
  font-size: 16px;
}

.page-btn .right a:before,
.page-btn .left a:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  width: 5px;
  height: 5px;
  margin-top: -5px;
  box-sizing: border-box;
}

.page-btn .left {
  left: 0;
}

.page-btn .left a {
  position: relative;
  padding-left: 20px;
}

.page-btn .left a:before {
  left: 0;
  border: solid 5px transparent;
  border-right: solid #ea9309 5px;
}

.page-btn .right {
  right: 0;
}

.page-btn .right a {
  position: relative;
  padding-right: 20px;
}

.page-btn .right a:before {
  right: 0;
  border: solid 5px transparent;
  border-left: solid #ea9309 5px;
}

/*サイトマップ
=========================================================*/
#site-map ul li {
  border-bottom: 1px solid #ea9309;
}

#site-map ul li a {
  box-sizing: border-box;
  display: block;
  padding: 15px 0 15px 35px;
  color: #333;
  position: relative;
  font-weight: bold;
  transition: 0.3s;
}

#site-map ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -8px;
  border: solid 8px transparent;
  border-left: 8px solid #ea9309;
  transition: 0.3s;
}

#site-map ul li a:hover {
  color: #ea9309;
}

#site-map ul li a:hover:before {
  left: 10px;
}

/*プライバシーポリシー
=========================================================*/
#contents-u.privacy .privacy-box {
  margin-bottom: 50px;
}

#contents-u.privacy .privacy-box:last-child {
  margin-bottom: 0;
}

/*404
=========================================================*/
.not-found-txt {
  text-align: center;
}

.not-found-txt p {
  font-size: 16px;
  line-height: 1.8;
}

.not-found-txt p a {
  font-weight: bold;
  color: #ea9309;
}

/*リキャプチャ---------------*/
#recap-id {
  padding: 20px 0;
}

.recap-inwrap {
  width: 300px;
  margin: 0 auto 50px;
}

/*送信完了---------------*/
.send-comp {
  text-align: center;
}

.send-comp p {
  line-height: 1.5em;
}

.send-comp-ttl {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 30px;
}

/*ドロワーメニュー
------------------------------------------------------*/
